.blog{
  padding: 90px 0;
  
  &__container{
    display: flex;
    gap: 30px;
  }

  &__content{
    width: 66.66667%;
  }

  &__posts{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

}



