

.cause-container{
  display: flex;

  .cause{
    display: flex;
    flex-direction: column;
    flex: 2;

    &__details{
      display: flex;
      margin-top: 25px;
    }

  }

  .campaign-summary{
    border: 1px solid #e6e6e6;
    padding: 14px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &__item{
      width: 50%;

    }
  }

  .date-box{
    width: 90px;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    
    
    .date{
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 27px;
      background-color: #eb5310;
      width: 90px;
      height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      div{
        font-size: 24px;
      }
    }

  }

  .side-bar-wiget{
    flex: 1;
  }

}

