.cause-container{
  display: flex;
  padding: 90px 0;

  .cause{
    display: flex;
    flex-direction: column;
    flex: 2;

    &__details{
      display: flex;
      margin-top: 25px;
    }

    &__description{
      margin-bottom: 15px;
    }

    &__campaing-summary{
      border: 1px solid #e6e6e6;
      padding: 14px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;

    }

    &__campaing-summary-column{
      width: 50%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}


