.appear-text {
  display: flex;
  flex-wrap: wrap; 
  overflow: hidden;
}

.letter {
  opacity: 0; 
  transform: translateY(-100%) rotate(20deg); 
  transition: opacity 0.5s, transform 0.5s;
  font-size: 40px;
  text-transform: uppercase;
  min-width: 10px;
}

.appear{
  width: 0px;
  overflow: hidden;
  transition: width 1s;
  background-color: rgb(238, 210, 210);
  white-space: nowrap;
  font-size: 40px;
  
}


.container2 {
  position: relative;
  width: 470px;
  height: 60px;
  background-color: rgb(131, 96, 96);
  overflow: hidden; 
  animation: slideOut 0.8s forwards; 
}

.text{
  width: 0;
  height: 100%;
  position: absolute;
  background-color:  #262F36;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: slideOut 0.8s 0.8s forwards; 
  font-size: 40px;
  text-transform: uppercase;
}

@keyframes slideOut {
  0% {
    width: 0;
  }
  100%{
    width: 470px;
  }
}

.subtitle{
  font-size: 16px;
  color: black;
  animation: appear-s 0.8s forwards;

}

@keyframes appear-s {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}



.call-to-action{
  width: 100%;
  display: flex;

  .action{
    width: 33.333%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
    gap: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__icon{
      z-index: 1;
      .icon{
        color: white;
        font-size: 50px;
        
      }
    }

    &__content{
      z-index: 1;
      h3{
        margin: 0 0 15px 0;
        font-size: 28px;
        text-transform: uppercase;
        color: white;
      }
      
      p{
        color: white;
        font-weight: 300;
      }
      
    }

    &::after{
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(241, 75, 5, 0.8);
      z-index: 0;
      transition: filter 0.5s;
      
    }
    &:hover::after{
      filter: brightness(80%);  
    }

    &:nth-child(2n)::after {
      background-color: rgba(253, 97, 30, 0.8);;
    }

  }

}

.event-causes{
  display: flex;
  
  .event{
    width: 50%;
  }

  .featured-cause{
    width: 50%;
  }
  
}

.recent-causes{

  h2{
    font-size: 35px;
    text-align: center;
  }

  &__cards{
    display: flex;
    gap: 30px;
  }

}

.promote-project{
  text-align: center;
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .container{
    width: 800px;
    z-index: 1;
  }

  h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .decoration-circle-colored{
    margin-bottom: 20px;
  }

  h2{
    color: #eb5310;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  
  p{
    margin-bottom: 30px;
  }

  &::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);

  }
}

.galery{

}

.our-missions{

  .missions{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .mission{
      flex: 1 1 calc(33.333% - 30px);
      height: 300px;
      display: flex;
      height: 233px;
      gap: 27px;
      justify-content: center;

      &__icon{
        min-width: 80px;
        height: 80px;
        background-color: #eb5310;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        i{
          font-size: 35px;
          color: white;
          
        }

        &::after{
          content: " ";
          width: 0;
          height: 0;
          position: absolute;
          right: 0;
          bottom: 0;
          border-left: 30px solid transparent;
          border-top: 30px solid transparent;
          border-bottom: 30px solid white;
        }
      }

      &__content{
        h3{
          margin-top: 0;
        }
      }
    }
  }
}


.fact-counter{
  background-color: #eb5310 ;
  display: flex;
  color: white;

  &__title{
    flex: 1;

    h2{
      color: white;
      font-size: 36px;
      line-height: 42px;
      font-weight: 400;
    }    
    .button_primary{
      color: #eb5310;
    }
  }

  &__facts{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 70px;

    .fact{

      &__icon{
        margin-bottom: 14px;
      }

      i{
        font-size: 50px;
        display: inline-block;
        color: black;
        width: 100px;
        height: 100px; 
        border-radius: 50%;
        text-align: center; 
        line-height: 100px; 
        border: 2px solid white;
        color: white;
      }

      &__timer{
        font-size: 48px;
        font-weight: 500;
        color: #fff;
        text-align: center;
      }

      p{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
      }      
    }  
  }

  &__content{ 
    display: flex;    
  }
}

.meet-volunteer{

  &__content{
    display: flex;
  }
}



