.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 70px 0 0;

  &__image {
    width: calc(25% - 4px);

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1200px) {
  .gallery{
    &__image{
      width: calc(50% - 4px);
    }
  }
}

@media (max-width: 960px) {
  .gallery{
    &__image{
      width: calc(100% - 4px);
    }
  }
}
