.footer{

  background-color: #262F36;
  
  &__container{
    width: 1180px;
    margin: 0 auto 0 auto;
    display: flex;
    padding: 90px 0;
    gap: 30px;

    ul{
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      li{
        flex-basis: calc(50% - 20px);
      }
    }
  }

  &__title{
    font-size: 20px;
    color: #fff;
    margin-bottom: 60px;
  }

  &__post{
    margin-bottom: 20px;
  }

  &__post-title{
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
  }

  &__post-date{
    color: #eb5310;
    font-size: 13px;
    margin-top: 10px;
  }

  &__about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
  }
  
  &__contacts{

    .fa{
      margin-right: 20px;
    }
  }
  
  .contacts{
    a{
      color: black;
      width: 30px;
      height: 30px; 
      line-height: 30px; 
      background-color: #fff; 
    }
  }

  &__news{
    width: 25%;
  }

  &__pages{
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__contact-us{
    width: 25%;
  }

  .form{

    form{
      input[type="text"],
      input[type="number"]{
        width: 100%;
        background: #2C353C;
        border: none;
        height: 50px;
      }

      textarea{
        background: #2C353C;
        border: none;
        height: 100px;
        resize: vertical;
      }

      .button_secondary{
        border-radius: 0;
      }
    }
  }
}