.header{
  padding: 35px 0;  
  display: flex;
  justify-content: space-between;

  &__right-bar{
    display: flex;
    gap: 35px;
    align-items: center;
  }

  &__single-info-box{
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__icon{
    width: 60px;
    height: 60px;
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    line-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .fa{
      font-size: 25px;
      color: #f14b05;
    }
  }

  &__content{
    b{
      font-size: 18px;
      color: #000000;
      font-weight: 500;
    }
  }
}