<%= render 'layouts/hero_section', title: "EDIT CAUSE" %>

<div class="edit-form container form-container">
  <div class="picture">
    <%=image_tag @cause.cause_picture, class:"image"%>
  </div>
  <%= render 'form' %>
</div>


