@import 'base/variables';

*{
  font-family: 'Poppins';
  font-size: 14px;
}

h1{
  font-size: 40px;
  font-weight: 700;
}

h2{
  color: #202a30;
  font-weight: 700;
  font-size: 24px;
  margin: 10px 0 30px;
}

h3{
  font-size: 24px;
  font-weight: 600;
}

p{
  font-size: 14px;
  color: #9C9C9C;
  line-height: 27px;
}

a{
  color: #C9C9C9;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.2s;

  &:hover{
    color: $primary-color;
  }
}

span{
  font-size: 16px;
  color: #f65024;
  font-weight: 600;
}

.font-16{
  font-size: 16px;
}

.sec-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;

  &__heading{
    font-size: 35px;
    text-transform: capitalize;
    color: #202A30;
    font-weight: bold;
    margin: 0 0 15px 0;
  }

  &__text{
    font-size: 16px;
    margin-bottom: 20px;
  }

}

.sec-title-left{
  align-items: start;

  .decoration-circle{
    margin-left: 50px;
  }
}

.mb{
  margin-bottom: 16px;
}

.center{
  margin: 0 auto;
}


