
.container{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container{
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .container{
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    box-sizing: border-box;
  }
}

.bg-image{

  &--fixed{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}