<section class="fact-counter">
  <div class="fact-counter__container container">
    <div class="fact-counter__content">
      <div class="fact-counter__title-wrap">
        <h2 class="fact-counter__title">We are served since 35 years to helpless people with trust andwe are happy</h2>
        <%= button_to "BE A PART OF US", volunteers_path, method: "get", class:"button_inverse"%>
      </div>

      <div class="fact-counter__facts">
        <div class="fact">
          <div class="fact__icon"><i class="fa-solid fa-trophy"></i></div>
          <div class="fact__timer">365</div>
          <p class="fact__description">TOTAL AWARDS</p>
        </div>
          <div class="fact">
          <div class="fact__icon"><i class="fa-solid fa-user-group icon"></i></div>
          <div class="fact__timer">2200</div>
          <p class="fact__description">TOTAL AWARDS</p>
        </div>
        <div class="fact">
          <div class="fact__icon"><i class="fa-solid fa-hand-holding-dollar"></i></div>
          <div class="fact__timer">155</div>
          <p class="fact__description">TOTAL PROJECTS</p>
        </div>
      </div>
    </div>
  </div>
</section>