<section class="our-missions container">
  <div class="sec-title">
      <h2 class="sec-title__heading">Our Mission</h2>
      <p class="sec-title__text">Lorem ipsum is a dummy text it will use for subtitle here</p>
      <div class="decoration-circle-gray">
        <div class="decoration-point"></div>
      </div>
  </div>

  <div class="missions">
    <div class="mission">
      <div class="mission__icon"><i class="fa-solid fa-book-open-reader"></i></div>
      <div class="mission__content">
        <h3 class="mission__title">Charity For Education</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
    <div class="mission">
      <div class="mission__icon"><i class="fa-solid fa-utensils"></i></div>
      <div class="mission__content">
        <h3 class="mission__title" >Feed For Hungry Child</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
    <div class="mission">
      <div class="mission__icon"><i class="fa-solid fa-hand-holding-heart"></i></div>
      <div class="mission__content">
        <h3 class="mission__title">Home For Homeless</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
    <div class="mission">
      <div class="mission__icon"><i class="fa-solid fa-bottle-water"></i></div>
      <div class="mission__content">
        <h3 class="mission__title">Bringing Clean Water</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
    <div class="mission">
      <div class="mission__icon"><i class="fa-regular fa-money-bill-1"></i></div>
      <div class="mission__content">
        <h3 class="mission__title">Help Little Hands</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
    <div class="mission">
      <div class="mission__icon"><i class="fa-solid fa-people-roof"></i></div>
      <div class="mission__content">
        <h3 class="mission__title">Donate For Children</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
  </div>
</section>