<div class="bg-image--fixed" style="background-image: url('<%= asset_path('bg-widget-01') %>');">
  <div class="promote-project">
    <div class="promote-project__container container">
      <h3 class="promote-project__title">Save Children From Hunger</h3>
      <div class="decoration-circle-colored center">
        <div class="decoration-point"></div>
      </div>
      <h2 class="promote-project__subtitle">BECAME A PART OF THE WORLD LOREM IPSUM</h2>
      <p class="promote-project__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore. Amido ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.Lorem ipsum dolor sit amet, consectetur.</p>
      
      <div class="promote-project__buttons">
        <%= button_to "DONATE NOW", causes_path, method: :get, class: "button_secondary" %>
        <%= button_to "READ MORE", "about", method: :get, class: "button_inverse" %>
      </div>
    </div>
  </div>
</div>
