<div class="testimonials bg-image--fixed" style="background-image: url('<%= asset_path('testi-bg.jpg') %>');">
  <div class="testimonials-container container">
  <div class="sec-title">
      <h2 class="sec-title__heading">Testimonials</h2>
      <div class="decoration-circle-colored">
        <div class="decoration-point"></div>
      </div>
  </div>

    <div class="swiper-testimonials-container">
      
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Paul Merry</h3>
            <span class="testimonial__subtitle">Patient of Asthama</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Jane Doe</h3>
            <span class="testimonial__subtitle">Patient of Flu</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Jane Doe</h3>
            <span class="testimonial__subtitle">Patient of Flu</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Jane Doe</h3>
            <span class="testimonial__subtitle">Patient of Flu</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Jane Doe</h3>
            <span class="testimonial__subtitle">Patient of Flu</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Jane Doe</h3>
            <span class="testimonial__subtitle">Patient of Flu</span>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
