<h1>Новий лист з контактної форми</h1>
<p><strong>Ім'я:</strong> <%= @name %></p>
<p><strong>Електронна пошта:</strong> <%= @email %></p>
<p><strong>Номер телефону:</strong> <%= @phone %></p>
<p><strong>Повідомлення:</strong> <%= @message %></p>
