<%= render 'layouts/hero_section', title: "EDIT CAUSE" %>

<div class="edit-form form-container container">
  <div class="picture">
    <%=image_tag @post.post_picture, class:"image"%>
  </div>
  <%= render 'form', post: @post, tags: @tags %>
</div>


