.button{
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
  display: block !important;
  padding: 9px 24px;
}

.button_primary{
  @extend .button;
  background-color: $secondary-button-color;
  border: 2px solid #E6E6E6;
  
  &:hover{
    color: $secondary-button-color;
    background-color: $primary-button-color;
    border-color: $primary-button-color;

  }
}

.button_inverse{
  @extend .button_primary;
  color: $primary-button-color;
  &:hover{
    border-color: $secondary-button-color;
  }
}

.button_transparent{
  @extend .button;
  background-color: transparent;
  border: 2px solid $secondary-button-color;
  color: $secondary-button-color;

  &:hover{
    color: $primary-button-color;
    background-color:$secondary-button-color;
  }
}

.button_secondary{
  @extend .button;
  background-color: $primary-button-color;
  border: 2px solid $primary-button-color;
  color: $secondary-button-color;

  &:hover{
    color: $primary-button-color;
    background-color: $secondary-button-color;
    border-color: $primary-button-color;

  }
}

.buttons-container{
  display: flex;
  gap: 10px;
}

.change-delete-buttons{
  display: flex;
  gap: 10px;
  margin: 20px 0 20px auto;
  justify-content: end;
  .button_delete {
    background-color: #dc3545;
    color: #fff;
    border: none;
  }

  .button_edit {
    background-color: #ffc107;
    color: #212529;
    border: none;
  }
}

.button_create{
  background-color: #28a745; 
  color: #fff; 
  border: none;
  margin: 20px 0 20px auto;
  font-size: 16px;
}
