.pagination{
  display: block;
  text-align: center;
  margin: 0 0 40px ;

  .current{
    position: relative;
    color: white;
    font-size: 14px;
    padding: 7px 15px;
    text-align: center;
    display: inline-block;
    border: 1px solid $primary-color;
    background-color: $primary-color;
  }

  a{
    position: relative;
    color: #505050;
    font-size: 14px;
    padding: 7px 15px;
    text-align: center;
    display: inline-block;
    border: 1px solid $primary-color;
  }
}