.volunteer{
  flex: 0 0 calc(25% - 30px);
  
  &__profile-image-wrap{
    position: relative;
    display: flex;
    
    .profile_image{
      width: 100%;
      height: 250px;
      margin-bottom: 10px;

    }
    
    .apear-box{
      height: 250px;
    }
  }

  &__fullname{
    font-size: 18px;
    color: #222E35;
  }

  &__job{
    color: #eb5310;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;

  }

  &__description{
    color: #9C9C9C;

  }

  &__button_primary{
    margin-top: 13px;
  }
}