.volunteer{
  flex: 0 0 calc(25% - 30px);
  
  &__profile-image-wrap{
    position: relative;
    display: flex;
    margin-bottom: 10px;
    height: fit-content;

    .profile_image{
      width: 100%;
      
      img{
        height: 100%;
        max-width: 100%;
      }
    }
    
    .apear-box{
      width: 100%;
    }
  }

  &__fullname{
    font-size: 18px;
    color: #222E35;
  }

  &__job{
    color: $primary-color;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;

  }

  &__description{
    color: #9C9C9C;

  }

  &__button_primary{
    margin-top: 13px;
  }
}

@media (max-width: 768px) {
  .volunteer{
    flex: 0 0 100%;
  }  
}

.contacts{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  a {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    text-align: center; 
    line-height: 40px; 
    background-color: #fff; 
  }
}



