/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 */



*{
  padding: 0;
  margin: 0;
}

h1{
  font-size: 40px;
  font-weight: 700;
}

p{
  font-size: 13px;
  color: #C9C9C9;
  line-height: 27px;
  
}

.contacts{
  display: flex;
  gap: 20px;

  a {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 60px;
    height: 60px; 
    border-radius: 50%;
    text-align: center; 
    line-height: 60px; 
    background-color: #fff; 

  }

}

a{
  color: #C9C9C9;
  font-size: 14px;
  text-decoration: none;
  transform: color 0.5s;

  &:hover{
    color: #eb5310;
  }
}

li{
  list-style: none;
}


