/*
 *= require_tree .
 *= require_self
 *= 
 */

 @import "font-awesome";

*{
  padding: 0;
  margin: 0;
}

.contacts{
  display: flex;
  gap: 20px;

  a {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 60px;
    height: 60px; 
    border-radius: 50%;
    text-align: center; 
    line-height: 60px; 
    background-color: #fff; 

  }

}

li{
  list-style: none;
}

.container{
  width: 1180px;
  margin: 0 auto;
}

.form-container{
  width: 1180px;
  margin: 0 auto;
  padding: 90px 0;
}


.bg-image{

  &--fixed{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.date-box{
  width: 90px;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  
  .date{
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
  background-color: #eb5310;
  width: 90px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
    &__day{
      font-size: 24px;
      font-weight: 500;
    }
    &__month{
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.apear-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: opacity 0.5s, visibility 0.5s, background-color 0.5s;
  top: 0;
  left: 0;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  
  &.show {
    opacity: 1;
    visibility: visible;
    background-color: rgba(235, 83, 16, 0.8);
  }
}  


  
.error-message {
  color: #e74c3c;
  font-size: 14px; 
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px; 
  border-radius: 4px;
  border: 1px solid #e74c3c; 
  background-color: #fce4e4; 
  display: inline-block;
}

.change-delete-buttons{
  display: flex;
  gap: 10px;
  margin: 20px 0 20px auto;
  justify-content: end;
  .button_delete {
    background-color: #dc3545;
    color: #fff;
    border: none;
  }

  .button_edit {
    background-color: #ffc107;
    color: #212529;
    border: none;
  }
}

.button_create{
  background-color: #28a745; 
  color: #fff; 
  border: none;
  margin: 20px 0 20px auto;
  font-size: 16px;
}


.flash-message{
  position: fixed;
  top: 240px;
  right: 200px;
  background-color: white;
  padding: 15px;
  border: 2px solid #eb5310;
  border-radius: 5px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}


.flash-message.hidden{
  opacity: 0;
}



