<%= render 'layouts/hero_section', title: "EDIT PHOTO" %>

<div class="edit-form container form-container">
  <div class="picture">
    <% if @photo.photo.attached?%>
      <%= image_tag @photo.photo%>
    <% end %>
  </div>
  <%= render "form", photo: @photo %>
</div>


